@model Surveys.Models.Patients

@{
    ViewBag.Title = "Szegóły pacjenta";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Guardian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Guardian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate0)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate0)
    </div>

   <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate1)
    </div>

  <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate2)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Wroć do listy pacjentów", "Index")
</p>
