@model Surveys.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Guardian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Guardian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate0)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate0)
    </div>

   <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate1)
    </div>

  <div class="display-label">
         @Html.DisplayNameFor(model => model.Info.ExaminationDate2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info.ExaminationDate2)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
