@model Surveys.Models.Patients

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Patient</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        @*        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Guardian)
        </div>
          <div class="editor-field">
            @Html.DropDownListFor(model => model.Guardian, ViewBag.GuardianChoice as IEnumerable<SelectListItem>)
            @Html.ValidationMessageFor(model => model.Guardian)
        </div>

@*        <div class="editor-field">
            @Html.EditorFor(model => model.Guardian)
            @Html.ValidationMessageFor(model => model.Guardian)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, ViewBag.GenderChoice as IEnumerable<SelectListItem>)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        @* <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>*@

        <p>
            <input type="submit" value="Zapisz zmiany i przejdź dalej" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
