@model IEnumerable<Surveys.Models.Patients>

@{
    ViewBag.Title = "Lista pacjentów";
}

<h2>@ViewBag.Title @ViewBag.ToFill</h2>

@if (ViewBag.CanCreate)
{
    <p>
        @Html.ActionLink("Dodaj pacjenta", "Create")
    </p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guardian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate2)
        </th>
        <th>
            Opcje

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guardian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @if (item.Info.ExaminationDate0 != null)
                { 
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate0)
                    <br />
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 1 })
                }
                else
                {
                    <p>brak</p>
                    <br />
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 1 })
                }
            </td>
            <td>
                @if (item.Info.ExaminationDate1 != null)
                { 
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate1)
                    <br />
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 6 })
                }
                else if (item.Info.ExaminationDate0 != null && (DateTime.Now - item.Info.ExaminationDate0 > new TimeSpan(30 * 6, 0, 0, 0))
                                                              && item.Info.ExaminationDate1 == null)
                {
                    <p>brak</p>
                    <br />
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 6 })
                }
            </td>
            <td>
                @if (item.Info.ExaminationDate2 != null)
                { 
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate2)
                    <br />
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 8 })
                }
                else if (item.Info.ExaminationDate1 != null && (DateTime.Now - item.Info.ExaminationDate1 > new TimeSpan(30 * 12, 0, 0, 0))
                                            && item.Info.ExaminationDate2 == null)
                {
                    <p>brak</p>
                    <br />
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 8 })
                }
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) | @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
