@model IEnumerable<Surveys.Models.Patients>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        @* <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Guardian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.ExaminationDate2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            @*        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Guardian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            @if (item.Info.ExaminationDate0 != null)
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate0)
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 1 })
                </td>
            }
            else
            {
                <td>
                    brak
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 1 })
                </td>
            }
             @if (item.Info.ExaminationDate1 != null)
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate1)
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 6 })
                </td>
            }
            else
            {
                <td>
                    brak
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 6 })
                </td>
            }
             @if (item.Info.ExaminationDate2 != null)
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.Info.ExaminationDate2)
                    @Html.ActionLink("Edytuj", "Edit", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 8 })
                </td>
            }
            else
            {
                <td>
                    brak
                    @Html.ActionLink("Stwórz", "Create", new { controller = "Questionnaire", patientId = item.Id, questionnaireId = 8 })
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
