@model MvcApplication1.Models.RadioList

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{

    for (int i = 0; i < Model.Radios.Count; i++)
    {
     <br />   
    @Html.RadioButtonFor(model => model.Radios[i].El1.Item1, "Opcja1A")
    @Html.LabelFor(model => model.Radios[i].El1.Item1, "Opis1A")


    @Html.RadioButtonFor(model => model.Radios[i].El1.Item1, "Opcja1B")
    @Html.LabelFor(model => model.Radios[i].El1.Item1, "Opis1B")

     <br /> 
    @Html.RadioButtonFor(model => model.Radios[i].El2.Item1, "Opcja2A")
    @Html.LabelFor(model => model.Radios[i].El2.Item1, "Opis2A")


    @Html.RadioButtonFor(model => model.Radios[i].El2.Item1, "Opcja2B")
    @Html.LabelFor(model => model.Radios[i].El2.Item1, "Opis2B")

    }


    
    <p>
        <input type="submit" value="Go!" />
    </p>

}