@model Surveys.DTOs.SurveyDTO

@{
    ViewBag.Title = "Ankieta \"0\"";
    ViewBag.Message = "Co chcesz zrobić?";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@Html.ActionLink("Nowa ankieta", "Create", "Survey0") @*tylko w ankiecie "0"!*@
@Html.ActionLink("Edycja ankiety", "Edit", "Survey0")

@using (Html.BeginForm())
{
    <fieldset>
        <legend>QuestionDTO</legend>

        @if (Model != null)
        {
            @Html.HiddenFor(model => model.PatientId)
            for (int k = 0; k < Model.Questions.Count; k++)
            {
                var q = Model.Questions[k];

                while (q != null)
                {
                    for (int i = 0; i < q.Answers.Count; i++)
                    {
            <p>@q.Text</p>
                        if (q.Answers[i].Answer.AnswerTypeId == (int)Surveys.DTOs.AnswerType.RadioButton)
                        {
                            for (int j = 0; j < q.Answers[i].Options.Count; j++)
                            {
            @Html.HiddenFor(model =>q.Answers[i].Answer.Id)
            @Html.RadioButtonFor(model => q.Answers[i].Text,
                                     q.Answers[i].Options[j].Option.Text);
            @Html.LabelFor(model => q.Answers[i].Text,
                                             q.Answers[i].Options[j].Option.Text);
                            }
                        }
                    }
                    
                }
            }
        }

    </fieldset>
    <p>
        <input type="submit" value="Go!" />
    </p>
    
}